/* slider */
body div.center .sliderArrow{
	max-width:1150px;
	margin:0 auto;
	width:96%;
	padding:0 2%;
}

body div.sliderArrow{
	overflow:hidden;
	margin-top:30px;
}
body div.sliderArrow .sliderElements{
	width:100%;
}
body div.slider{
	margin:0 auto;
	border:2px double #2f1d0f;
	max-height:387px;
	max-width:560px;
}
body div.slider img{
	margin:0;
	padding:0;
	max-height:387px;
	max-width:560px;
	}
	
