/* slider */
body div.center .sliderArrow{
	max-width:710px;
	margin:0 auto;
	width:96%;
	padding:0 2%;
}

body div.sliderArrow{
	overflow:hidden;
	margin-top:30px;
}
body div.sliderArrow .sliderElements{
	width:100%;
}
body div.slider{
	padding-bottom:10px;
	margin:0 auto;
	border:0px double #2f1d0f;
	max-height:560px;
	max-width:333px;
}
body div.slider img{
	margin:0;
	padding:0;
	max-height:500px;
	max-width:333px;
}
